<?xml version="1.0" encoding="UTF-8" ?>  
  
<configuration status="WARN" > 
   <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%-6p] %c{1} - %m%n"/>
    </Console>
    
     <File name="logfile" fileName=".\logs\CustomFramework.log">
      
        <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      
    </File>
  </Appenders> 
  
  <loggers>
     
        <Root level ="all" >  
        <appender-ref ref="console" />  
        <appender-ref ref="logfile" level="info" /> 
    </Root>  
  </loggers>
</configuration>  